.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 20px;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 12rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links li {
  cursor: pointer;
  color: #ffffff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 11.5rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-social img {
  width: 36px;
  height: 36px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.footer-social img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-stores img {
  height: 40px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.footer-stores img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-social,
.footer-stores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-top {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footer-bottom {
    margin: 0 2rem;
    flex-direction: column;
    gap: 1.5rem;
  }
}