* {
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  min-height: calc(100vh - 226px); /* adjust depending on your footer height */
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
}


html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

